/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.matrix__img {
  width: 100%;
}
.matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .matrix {
    text-align: center;
  }
}
.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.tasks__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.tasks__wrapper {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li,
.tasks__title {
  list-style: none;
}
input,
button{
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}
/* Heading */
.tasks__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.tasks__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.tasks__input-text:focus {
  color: #333;
}

/* New Task */
.tasks__title {
  display: block;
  margin: 0 0 20px;
}
.tasks__input-text {
  width: 85%;
}
.tasks__btn-add:hover {
  color: #0fc57c;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
li > * {
  vertical-align: middle;
}

li > input[type="checkbox"] {
  margin: 0 10px;
}
.task__tasks {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
li > input[type="text"] {
  width: 226px;
}
li > button.delete:hover {
  color: #cf2323;
}
button.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
button.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
ul#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display: none;
}

ul li.editMode input[type=text] {
  display: inline-block;
  width: 324px;
}

ul li.editMode label {
  display: none;
}