/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.matrix__img {
  width: 100%;
}
.matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .matrix {
    text-align: center;
  }
}
.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.tasks__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 11px;
  font-size: 18px;
  line-height: 18px;
}
.tasks__wrapper {
  display: flex;
}
.tasks__list {
  margin: 0;
  padding: 0px;
}
.tasks__list-item,
.tasks__title {
  list-style: none;
}
.tasks__input-text,
.tasks__input-checkbox,
.tasks__btn-add,
.tasks__btn-edit,
.tasks__btn-delete {
  outline: none;
}
.tasks__btn-add,
.tasks__btn-edit,
.tasks__btn-delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.tasks__btn-edit:hover {
  color: #3a3a3a;
}
/* Heading */
.tasks__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.tasks__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.tasks__input-text:focus {
  color: #333;
}

/* New Task */
.tasks__title {
  display: block;
  margin: 0 0 20px;
}
.tasks__input-text {
  width: 226px;
}
.tasks__btn-add:hover {
  color: #0fc57c;
}

/* Task list */
.tasks__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks__input-checkbox,
.tasks__input-text,
.tasks__task,
.button__edit,
.button__delete {
  vertical-align: middle;
}

.tasks__input-checkbox {
  margin: 0 10px;
}
.tasks__task {
  padding-left: 11px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.tasks__input-text {
  width: 226px;
}
.tasks__input-text_wide {
  width: 84%;
}
.tasks__btn-delete:hover {
  color: #cf2323;
}
.tasks__img-delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.tasks__img-delete:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks__task_completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks__input-text {
  display: none;
}

.tasks__list-item_edit-mode input[type=text] {
  display: inline-block;
  width: 324px;
}

.tasks__list-item_edit-mode label {
  display: none;
}